{%extends "header.html.twig"%}

{%block contenue%}

<div class="text-center row-fluid">
    <p>{{confirm_msg}}</p><br/>
    <a href="{{current_url}}" class="btn btn-danger">Oui</a>&nbsp;<a href="{{base_url}}" class="btn btn-success">Non</a>
</div>



{%endblock%}
