{%extends "header.html.twig"%}

{%block contenue %}
<div class="offset4 well span4">
    <h2 class="text-center">Connexion</h2>
    
    <h3 class="text-center"><a href="{{base_url}}/auth/cas">Je susi étudiant ou membre du personnel de l'UTC</a></h3>
    
    {%if error == 1 %}
    <p class="text-error">Les informations indiquées ne permettent pas de vous authentifier</p>
    {%endif%}
    <form method="post" action="{{base_url}}/auth/login">
        <input type="text" name="login" placeholder="Nom d'utilisateur" value="{{username}}"/><br/>
        <input type="password" name="pass" placeholder="Mot de passe"/><br/>
        <input type="submit" class="btn btn-primary" value="Connexion"/><br/>
    </form>
</div>
{%endblock%}